@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer {
  body {
    @apply font-poppins bg-bg-img bg-grey-900 backdrop-blur-xl
  }

  h5 {
    @apply text-[16px] font-normal text-grey-400
  }

  span,
  p {
    @apply inline-block
  }
}

body.portal-open {
  position: relative;
  overflow: hidden;
}

body.portal-open::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  background: theme("colors.gray.800");
  opacity: 0.5;
  width: 100%;
  height: 100%;
  /* z-index: 99; */
}

/* Navbar */
.navbar {
  transition: transform 400ms;
}

.hide {
  transform: translateY(-100%);
}

.show {
  transform: translateY(0%);
}

.menu {
  @apply items-center gap-5 hidden lg:flex
}

.menu-items {
  @apply text-grey-200 font-semibold hover:text-grey-100 transition-all duration-300
}

/* Movie Card */
.card-transtion {
  @apply transition-all duration-500
}

/* Movie Detail  */
.movie-info {
  @apply text-grey-100
}

.hero-banner::after, .trailer-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.2);
  z-index: 10;
}

.hero-banner::after {
  background: rgb(0, 0, 0, 0.3);
}

/* Pangination */
.page-number {
  @apply text-white py-1 px-3 mr-2 text-sm md:text-lg
}

.page-number.active {
  @apply bg-primary-400 rounded
}

.menu-items.active {
  @apply text-primary-400
}

/* Skeleton.css */
.skeleton {
  width: 100%;
  height: 20px;
  /* Adjust the height as needed */
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

/* .swiper {
  height: 400px;
} */

.swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  /* text-align: right; */
  width: 100%;
  height: 24px;
  z-index: 50;
  opacity: 0.4;
}

.swiper-pagination-bullet {
  @apply bg-primary-400 w-[6px] h-[6px] md:w-6 md:h-1 rounded-lg;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
  z-index: 999;
}